.practice{
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
<<<<<<< HEAD
=======
    color: black;
>>>>>>> a1260da4f78ca56509175534642425ede9434db7
}

.genre_decription img{
    width: 531px;
    height: 298px;
}