.practice{
    display: flex;
    justify-content: space-around;
}
.practice img{
    margin-right: 50px;
}
.buttons {
    display: flex;
}
.genre_decription{
    margin: 100px;
   
}
.genre_decription img{
    width: 531px;
    height: 298px;
}

section{
    margin: 50px;
}