.genre {
    width: 1000px;
}
.genre .buttons {
    display: flex;
    justify-content: space-evenly;
    color: black;
    
}
.buttons .btn{
    background-color: rgba(0,0,0,0);
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.buttons .btn:hover{
    color: white;
    background-color: black;
}
.genre .genre_decription{
    margin: 100px;

}
.genre .genre_decription img{
    display: block;
    width: 600px;
    margin: 70px auto;
}
.genre_decription .genre_decription_text {
    width: 70%;
    text-align: right;
    margin-left: auto;
    line-height:200%
}
.genre_decription .genre_decription_text h3 {
    margin: 30px 0;
}
.genre_decription .genre_decription_text a {
    transition: all 0.3s ease-in-out;
}
.genre_decription .genre_decription_text a:hover {
    background-color: #eee;
}
