h1 {
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
}
body {
  padding-top: 70px;
}
.header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  font-size: 22px;
  line-height: 70px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.header .menu_logo {
  width: 70px;
  height: 70px;
  background-image: url("../image/odc_logo.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.header .menu_btns {
  display: none;
}
.menu_btns .menu_btn {
  
  width: 32px;
  height: 32px;
}
.menu_btns .menu_btn_prev {
  background-image: url("../image/icon_arrow_prev.png");
  width: 32px;
  height: 32px;
}
.menu_btns .menu_btn_next {
  background-image: url("../image/icon_arrow_next.png");
  width: 32px;
  height: 32px;
}

.header .menu_main {
  border-bottom: 3px solid #ff1744;
}
.menu_links .menu_link {
  width: 26px;
  height: 26px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.menu_links .menu_link:hover {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.menu_links .link_ist {
  background-image: url("../image/instagram_logo.png");
  border-radius: 5px;
}
.menu_links .link_fb {
  background-image: url("../image/facebook_logo.png");
}
.menu_links .link_yt {
  background-image: url("../image/youtube_logo2.png");
}
.header a {
  display: block;
}
.header .menu_items,
.header .menu_links {
  display: flex;
}
.header .menu_item {
  padding: 0 20px;
}

.footer .ist_link {
  display: inline-block;
  margin-top: 6px;
  transition: all 0.3s;
}
.footer .ist_link:hover {
  background-color: #ddd;
}

.footer {
  height: 14px;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  background-color: #eee;
}
.footer .footer_logo{
  width: 14px;
  vertical-align: top;
}

.main {
  min-height: calc(100vh - 134px);
  /* header: 70, footer: 64 */
  max-width: 1000px;
  /* 최대 width 1000px 고정 */
  margin: 100px auto;
  /* 위아래 100px 임시 고정 */
  
}
.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
@media screen and (max-width: 768px),
 screen and (max-height: 768px) and (orientation: landscape) {
  .main {
    width: 80%;
  }
  .header .menu_btns {
    display: flex;
  }
  .header .menu_items {
    display: none;
  }
  .header {
    height: 50px;
    justify-content: space-between;
  }
  .header .menu_logo {
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }
  .header .menu_links {
    margin-right: 30px;
  }



  .menu {
    background: url("../image/icon_menu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
    
  }
  
  .menu.active {
    background: url("../image/cancel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
    
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  .side_menu {
    width: 500px;
    height: 500px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
    background: black;
    opacity: 0.5;
    
    z-index: 998;
    
  }
  .side_menu li {
    padding: 0;
  }
  .side_menu a {
    position: relative;
    right:13%;
    top: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 700;
  }
  .side_menu .menu_item{
    padding-left: 0px;
  }
  .side_menu.active {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
  }



}

@keyframes appearSectionAnimation{
  from{
      opacity: 0;
  }
  to{
      transform: none;
      opacity: 1;
  }
}

.animationX_section {
  transform: translateX(-100px);
  opacity: 0;
  animation: appearSectionAnimation 1s ease-in-out forwards 0.3s;
}
.animationX_section:nth-child(2){
  transform: translateX(100px);
  animation-delay: 0.6s;
}
.animationX_section:nth-child(3){
  animation-delay: 0.9s;
}

.animationY_section{
  transform: translateY(100px);
  opacity: 0;
  animation: appearSectionAnimation 1s ease-in-out forwards 0.3s;
}
.animationY_section:nth-child(2){
  animation-delay: 0.6s;
}
.animationY_section:nth-child(3){
  animation-delay: 0.9s;
}
.animationY_section:nth-child(4){
  animation-delay: 1.2s;
}
.animationY_section:nth-child(5){
  animation-delay: 1.5s;
}
.animationY_section:nth-child(6){
  animation-delay: 1.8s;
}
.animationY_section:nth-child(7){
  animation-delay: 2.1s;
}
.animationY_section:nth-child(8){
  animation-delay: 2.4s;
}
.animationY_section:nth-child(9){
  /* AboutUs 마지막 장르 */
  animation-delay: 2.7s;
}

/* 글꼴 설정은 -> reset.css -> body 태그에서 */

