.main  > section {
  margin: 50px;
}

.howto{
  display: flex;
  justify-content: space-around;
}

.howtogo {
  position: relative;
  width: 500px;
}

.howtogo .howtogo_img {
  /* 이미지 크기 임시로 잡아놓음 */
  width: 500px;
  height: 500px;
}
.howtogo .howtogo_btn1 {
  position: absolute;
  bottom: 10%;
  left : 40%;
}
.howtogo .howtogo_btn2 {
  position: absolute;
  bottom: 10%;
  right : 40%;
}
.executives{
    display: flex;
}
.executives_img{
    width: 200px;
    height: auto;
}

.howtogo_btn {
  background-color: inherit;
  border-radius: 50%;
  border: 2px #fff solid;
  color: #fff;
  font-size: 14px;
}
.howtogo_btn:hover {
  font-weight: bold;
  border: 3px #fff solid;
}

.ist_link {
  display: block;
  margin-top: 6px;
  transition: all 0.3s;
}
.ist_link:hover {
  word-spacing: 10px;
}

.executives_ist{
  width: 14px;
  vertical-align: top;
}

.join_in_img{
  width: 800px;
}
