.howtogo_section,
.joinin_section,
.executives_section {
  margin: 100px 0;
}
.title {
  margin-bottom: 50px;
}
.howtogo_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.howtogo {
  position: relative;
}
.howtogo .howtogo_img {
  /* 3:4 */
  width: 480px;
  height: 560px;
}
.howtogo_btn {
  position: absolute;
  bottom: 10%;
  background-color: inherit;
  border: none;
  color: #ff1744;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.howtogo_btn:hover {
  color: white;
  border-radius: 50%;
  background-color: #ff1744;
}
.howtogo .howtogo_btn1 {
  left : 40%;
}
.howtogo .howtogo_btn2 {
  right : 40%;
}
.howtogo_wrapper .howtogo_explain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 300%;
}

.joinin .joinin_img {
  display: block;
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.executives_section .executives_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.executives_wrapper .executives_img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.executives_wrapper .executives_name {
  margin: 20px 0 10px;
}
.executives_wrapper .executives_number {
  margin-bottom: 10px;
}
.executives_wrapper .ist_link {
  display: block;
  margin-top: 6px;
  transition: all 0.3s;
}
.executives_wrapper .ist_link:hover {
  background-color: #ccc;
}
.executives_wrapper .executives_ist{
  width: 14px;
  vertical-align: top;
}

