.howto{
  display: flex;
  justify-content: space-around;
}

.howtogo {
  position: relative;
  width: 500px;
}

.howtogo .howtogo_img {
  /* 이미지 크기 임시로 잡아놓음 */
  width: 500px;
  height: 500px;
}
.howtogo .howtogo_btn1 {
  position: absolute;
  bottom: 10%;
  left : 40%;
}
.howtogo .howtogo_btn2 {
  position: absolute;
  bottom: 10%;
  right : 40%;
}
.executives{
    display: flex;
}
.executives_img{
    width: 200px;
    height: auto;
}

button {
  background-color: inherit;
  border-radius: 50%;
  border: 2px #fff solid;
  color: #fff;
  font-size: 14px;
}
button:hover {
  font-weight: bold;
  border: 3px #fff solid;
}

section{
  margin: 50px;
}

.executives_ist{
  width: 26px;
  vertical-align:middle;
}

.join_in_img{
  width: 800px;
}

@keyframes appearSectionAnimation{
  from{
      
      opacity: 0;
  }
  to{
      transform: none;
      opacity: 1;
  }
}

.contact_section{
  transform: translateY(100px);
  opacity: 0;
  animation: appearSectionAnimation 0.3s ease-in-out forwards;
}

.contact_section:nth-child(2){
  animation-delay: 0.6s;
}

.contact_section:nth-child(3){
  animation-delay: 0.9s;
}
