section{
  margin-top: 100px;
}

.odc_description{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.odc_description img{
  width: 200px;
}
.odc_description p{
  width: 400px;
}

.what_wedo{
  display: flex;
  flex-direction: row;
  
}

.what_wedo img{
  width: 300px;
}

.what_wedo_imgs{
  display: flex;
  justify-content: space-around;
}

.odc_video{
  display: flex;
  flex-direction: column;
  align-items: center;
}