section{
  margin: 100px;
}

.odc_description{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.odc_description img{
  width: 200px;
}
.odc_description p{
  width: 400px;
}

.what_wedo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.what_wedo img{
  width: 300px;
  display: block;
}

.what_wedo_imgs{
  margin-left: 30px;
}
.what_wedo_content {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}

.odc_video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes appearSectionAnimation{
  from{
      
      opacity: 0;
  }
  to{
      transform: none;
      opacity: 1;
  }
}

.index_section{
  transform: translateY(100px);
  opacity: 0;
  animation: appearSectionAnimation 0.3s ease-in-out forwards;
}

.index_section:nth-child(2){
  animation-delay: 0.3s;
}

.index_section:nth-child(3){
  animation-delay: 0.6s;
}


