.odc_description, 
.what_wedo,
.odc_video {
  width: 100%;
  padding: 100px 0;
}

.odc_description {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  /* background-image:url(../image/odc22.jpg); */
  
  
  
}
.odc_description .odc_description_img {
  width: 200px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.odc_description .odc_description_text {
  width: 400px;
  text-align: right;
  line-height: 200%;
  word-break: keep-all;
}

.what_wedo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.what_wedo .what_wedo_imgs .what_wedo_img {
  width: 100%;
  height: auto;
  display: block;
}
.what_wedo_content {
  margin-top: 20px;
  font-size: 18px;
}

.odc_video .odc_video_iframe {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 360px; 
}