.activity .about_activity {
    display: grid;
    grid-template-columns: 500px 1fr;
}

.about_activity .image_box {
    position: relative;
    height: 40vh;
}
.about_activity .image_box img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_activity .activity_btn {
    position: absolute;
    top: calc(50% - 1.5rem);
    border: none;
    width: 3rem;
    height: 3rem;
    /* Flex rules 'em all */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff1744;
    opacity: 70%;
    background-color: inherit;
    font-size: 30px;
}
.about_activity .activity_btn:hover {
    color: white;
    background-color: #ff1744;
}
.about_activity .activity_btn1 {
    left: 0;
}
.about_activity .activity_btn2 {
    right: 0;
}
.about_activity .content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.about_activity .content_box h1,
.career h1 {
    margin: 30px 0;
}
.main .activity {
    margin-bottom: 100px;
}
.main .career {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.career h2 {
    margin: 30px 0;
}
.career ol li {
    font-size: 18px;
    margin: 10px 0;
}

@media screen and (max-width: 768px),
 screen and (max-height: 768px) and (orientation: landscape) {
    .activity .about_activity {
        grid-template-columns: 1fr;
    }
    .about_activity .content_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    .about_activity .content_box h1 {
        margin-top: 0;
    }
}