.activity .about_activity {
    display: grid;
    grid-template-columns: 500px 1fr;
}

.about_activity .image_box {
    position: relative;
    height: 40vh;
}
.about_activity .image_box img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_activity .activity_btn {
    position: absolute;
    bottom: 10%;
    border: none;
    color: #ff1744;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about_activity .activity_btn:hover {
    color: white;
    border-radius: 50%;
    background-color: #ff1744;
}
.about_activity .activity_btn1 {
    left: 40%;
}
.about_activity .activity_btn2 {
    left: 60%;
}
.about_activity .content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.about_activity .content_box h1,
.career h1 {
    margin: 30px 0;
}
.main .activity {
    margin-bottom: 100px;
}
.main .career {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.career h2 {
    margin: 30px 0;
}
.career ol li {
    font-size: 18px;
    margin: 10px 0;
}

.activity_btn {
    background-color: inherit;
    border-radius: 50%;
    border: 2px #fff solid;
    color: #fff;
    font-size: 14px;
}
