.activity .about_activity {
    display: grid;
    grid-template-columns: 500px 1fr;
}
.about_activity .image_box {
    position: relative;
    height: 40vh;
}
.about_activity .image_box img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_activity .activity_btn1 {
    position: absolute;
    bottom: 10%;
    left: 40%;
}
.about_activity .activity_btn2 {
    position: absolute;
    bottom: 10%;
    left: 60%;
}
.about_activity .content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.about_activity .content_box h1,
.career h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}
.main .activity {
    margin-bottom: 100px;
}
.main .career {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.career h2 {
    font-size: 24px;
    margin: 30px 0;
}
.career ol li {
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-color: inherit;
    border-radius: 50%;
    border: 2px #fff solid;
    color: #fff;
    font-size: 14px;
  }
  button:hover {
    font-weight: bold;
    border: 3px #fff solid;
  }

  @keyframes appearArticleAnimation{
    from{
        
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
  }
  
  .about_activity{
    transform: translateX(100px);
    opacity: 0;
    animation: appearArticleAnimation 0.3s ease-in-out forwards;
  }
  
  .about_activity:nth-child(2){
    animation-delay: 0.6s;
  }
  
  .about_activity:nth-child(3){
    animation-delay: 0.9s;
  }
  
  
  